%p#notice= notice
#main_content.content-container
  = link_to 'Back', links_path
  #content.col-md-9.center-block.lead
    %strong Title:
    = @link.title
    %br
    %strong Url:
    = @link.url
    %br
    .btn-group
      %a.btn.btn-default.btn-sm{:href => @link.url } Visit Link
      =link_to like_link_path(@link), method: :put, class: 'btn btn-default btn-sm' do
        %span.glyphicon.glyphicon-chevron-up
        Upvote
        =@link.get_upvotes.size
      =link_to dislike_link_path(@link), method: :put, class: 'btn btn-default btn-sm' do
        %span.glyphicon.glyphicon-chevron-down
        Downvote
        =@link.get_downvotes.size
    %p
    %br
    -if @link.user == current_user
      = link_to 'Edit', edit_link_path(@link)

  %h3.comments_title
    = "#{@link.comments.count} Comments"

  -if user_signed_in?
    #comments
      =render :partial => @link.comments
      = simple_form_for [@link, Comment.new] do |f|
        = f.input :body, html: {class: 'form-control'}, label: false
        %br
        = f.button :submit, 'Add Comment', class: 'btn btn-primary'


